body{
    font-family: Poppins;
    background-color: rgb(12, 12, 123);
}
#nav{
    display: flex;
    height: 75px;
    justify-content: space-around;
    
}
#nav.child{
    padding: 30px;
    width: auto;
    text-align: center;

}
#nav_right{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin: 10px;
    align-items: center;
    margin-right: 13px;
    font-size: 25px;
    
     color: rgb(241, 53, 135); 
}
#nav_right>div>a{
    word-spacing: normal;
    padding: 20px;
    color: rgb(241, 53, 135);
    text-decoration: none;
}
#nav_right>div>a:hover{
    cursor: pointer;
    color: rgb(90, 134, 228);
    background-color: rgb(81, 84, 92,0.2);
}
#nav_left{
    align-self: center;
    background-image: linear-gradient(to bottom right , rgb(241, 53, 135), rgb(90, 134, 228));
    padding: 18px;
    color: white;
    font-size: 27px;
}
#top{
    
    position: relative;
    top: -100px;
    bottom: 150px;
    right: 0;
    width: 130%;
    display: flex;
    margin-left: -110px;
    justify-content: space-around;
}
#top>div{
    width: 250px;
    background-color: white;
    text-align: center;


}
#top>div>img{
    width: 35px;
    color: rgb(89, 214, 233) ;
    margin-top: 15px;
}
#top>div>p{
    margin-bottom: 30px;
}
#main{
    width: 50%;
    height: 700px;
    background-color: rgb(89, 214, 233);
    margin: auto;
    margin-top: 7%;
    box-shadow: 1px 4px 6px -1px;
}
#main>#bot{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}
#main>#bot>h1{
    color: rgb(12, 12, 123);
    font-size:50px;
    font-weight: bolder;
    margin-top: 1%;
}
#main>#bot>input{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}
#main>#bot>button{
    font-size: 20px;
    padding: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-color: white;
    color:rgb(12, 12, 123) ;
    background-color:  rgb(89, 214, 233);
    font-weight: bold;
}
#main>#bot>button:hover{
    cursor: pointer;
    border-style: solid;
    border-color: white;
    color:rgb(89, 214, 233) ;
    background-color: rgb(12, 12, 123) ;
    font-weight: bold;
}
#bot-top{
    text-align: center;
    font-size: large;
    margin-top: 40px;
}
#bot-top>.icons{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    height: 50px;
    margin-top: 70px;

}
#bot-top>.icons>div>button{
    background-color: rgb(12, 12, 123);
    border: none;
    width: 20px;
    height: 20px;
    
} 
#bot-top>.icons>div>button>a>img{
    width: 50px;
    height: 50px;
}
#bot-top>.icons>div>button>a>img:hover{
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.5s;
    z-index: 102;

}