.main{
    background-color: white;
}
.box{
    width: 90%;
}
.box>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    gap: 40px;
    

}
.card{
    border-radius: 30px;
    box-shadow: 2px 3px 6px rgba(0,0,0,.4);
    padding: 20px;
}
.image{
    width: 200px;
    height: 250px;
}
.card>.title{
    font-size: 13px;
    color: blue;
    text-align: left;
}
.card>.price{
    color: black;
    font-size: 30px;
    text-align: left;
}
.card>button{
    background-color: yellow;
    color: black;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}